<mat-card class="content" [class.mat-elevation-z15]="true">
    <p>
        <b>Components</b> are the building blocks of an Angular application. You can create a component using the Angular cli command
        "ng generate component [your component name]". A single component consists of a template, a style sheet, a typescript
        model and a unit test file.
    </p> 
    <p>
        Each component is like its own isolated, reusable webapp. The navbar (navbar), this page (components) and the three sections 
        below (framed-details) are all components. The framed-details component is a child component of the components component, reused 
        three times, each with different content passed from the parent.
    </p>
</mat-card>
<span>
    <div class="horizontal">
        <app-framed-details (click)="prevImageClick()" *ngFor="let topic of topics;" [title]="topic.title" [content]="topic.content" [image_url]="topic.url" [errUrl]="topic.errUrl"></app-framed-details>
    </div>
</span>
<ng-image-slider [hidden]="ishidden" (lightboxClose)="testMthd()" #test [defaultActiveImage]=1 [images]="images" #nav></ng-image-slider>