<mat-card class="content">
    <p>
        Functionality that is shared accross multiple components can be written into Angular <b>services</b> so that it doesn't need to be repeated.
        You can use the cli command "ng generate service [your service name]" to add a <b>service</b> to the root of your application.
        The most common use for Angular <b>services</b> is to perform data access to some api by making use of the Angular <b>HttpClient Module.</b>
    </p>
    <p>
        The following is an example of services and HttpClient in action, retrieving restaurant data from a local JSON file. In an actual application, the url used would be replaced with that of some api.
    </p>
    </mat-card>
<div class="horizontal">
    <mat-card class="example-card" [class.mat-elevation-z15]="true">
        <mat-card-header>
            <mat-card-title>Data Source</mat-card-title>
        </mat-card-header>
        <img (click)="imageClick(0)" mat-card-image src="../../assets/images/data.PNG" onerror="this.src='./assets/images/data.PNG';" alt="NgFor Image">
        <mat-card-content>
            For this example we use a local JSON file containing a list of restaurants
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" [class.mat-elevation-z15]="true">
        <mat-card-header>
            <mat-card-title>Service</mat-card-title>
        </mat-card-header>
        <img (click)="imageClick(1)" mat-card-image src="../../assets/images/service.PNG" onerror="this.src='./assets/images/service.PNG';" alt="NgFor Image">
        <mat-card-content>
            The angular service uses HttpClient to retrieve the data from the JSON, returning an observable, a type that allows live updates on subscription.
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" [class.mat-elevation-z15]="true">
        <mat-card-header>
            <mat-card-title>Subscription</mat-card-title>
        </mat-card-header>
        <img (click)="imageClick(2)" mat-card-image src="../../assets/images/subscription.PNG" onerror="this.src='./assets/images/subscription.PNG';" alt="NgFor Image">
        <mat-card-content>
            The component subscribes to the observable and assigns the value to a local variable to be displayed. 
        </mat-card-content>
    </mat-card>
</div>
<mat-card class="content">
    <mat-card-header>Here is the result output to a table:</mat-card-header>
    <img (click)="imageClick(3)" mat-card-image src="../../assets/images/result.PNG" onerror="this.src='./assets/images/result.PNG';" alt="NgFor Image">
    <table>
        <tr>
          <th>Restaurant Name</th>
          <th>Restaurant Rating /10</th>
          <th>Address</th>
          <th>Phone Number</th>
        </tr>
        <tr *ngFor="let rest of restaurants">
          <td>{{rest.name}}</td>
          <td>{{rest.ratingOfTen}}</td>
          <td>{{rest.address}}</td>
          <td>{{rest.phoneNumber}}</td>
        </tr>
      </table>
</mat-card>
<ng-image-slider [hidden]="imageBoxHidden" (lightboxClose)="hideOnExit()" #test [images]="images" #nav></ng-image-slider>